<table class="subscription-table mt-5">
    <thead>
        <tr>
            <th style="width: 25%;">Co-Producer Name</th>
            <th style="width: 25%;">Subscription Period</th>
            <th style="width: 25%;">Average Value by Delivery</th>
            <th style="width: 25%;">Average Value by Period</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CoproducerName</td>
                <td>@item.SubscriptionPeriodName</td>
                <td>@item.AverageVelueByDelivery.ToString("C")</td>
                <td>@item.AverageValueByPeriod.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        width: 100%;
    }

        table th, table td {
            width: 25%;
            text-align: left;
            padding: 8px;
        }
</style>