<table class="subscription-table mt-5">
    <thead>
        <tr>
            <th style="width: 25%;">Producer Name</th>
            <th style="width: 25%;">Subscription Period</th>
            <th style="width: 25%;">Delivery Average Value</th>
            <th style="width: 25%;">Period Total Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.ProducerName</td>
                    <td>@item.SubscriptionPeriodName</td>
                    <td>@item.DeliveryAverageValue.ToString("C")</td>
                    <td>@item.PeriodTotalValue.ToString("C")</td>
                </tr>
        }
    </tbody>
</table>


<style>
    table {
        width: 100%;
    }

        table th, table td {
            width: 25%;
            text-align: left;
            padding: 8px;
        }
</style>