@{
    ViewBag.Title = "KPI Dashboard";
}

<link rel="stylesheet" href="~/css/subscriptionperiod.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/kpi.css" asp-append-version="true" />

<h2>KPI Dashboard</h2>

<div>
    <label for="kpiType">Select KPI:</label>
    <select id="kpiType" name="kpiType">
        @foreach (var option in ViewBag.KpiOptions as List<SelectListItem>)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <button id="loadKpiButton">Load</button>
</div>

<div id="kpiContainer" class="kpi-container">
    <!-- KPI data will be loaded dynamically here -->
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loadKpiButton').click(function () {
                var selectedKpi = $('#kpiType').val();
                $.post('@Url.Action("LoadKpiData", "Kpi")', { selectedKpi: selectedKpi }, function (data) {
                    $('#kpiContainer').html(data);
                }).fail(function () {
                    alert('Failed to load KPI data.');
                });
            });
        });
    </script>
}


