<table class="subscription-table mt-5">
    <thead>
        <tr>
            <th style="width: 33%;">Co-Producer ID</th>
            <th style="width: 33%;">Co-Producer Name</th>
            <th style="width: 33%;">Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var balance in Model)
        {
            <tr>
                <td>@balance.CoproducerId</td>
                <td>@balance.CoproducerName</td>
                <td>@balance.Balance.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<style>
    table {
        width: 100%;
    }

        table th, table td {
            width: 33%;
            text-align: left;
            padding: 8px;
        }
</style>