@{
    ViewBag.Title = "Co-Producer Account Balances";
}

<link rel="stylesheet" href="~/css/subscriptionperiod.css" asp-append-version="true" />

<h2>Co-Producer Account Balances</h2>

<div>
    <button id="calculateButton">Calculate and Fetch Balances</button>
</div>

<div id="balancesContainer">
    <!-- Results will load here dynamically -->
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#calculateButton').click(function () {
                $.post('@Url.Action("CalculateAndFetchBalances", "AccountBalance")', function (data) {
                    $('#balancesContainer').html(data);
                }).fail(function () {
                    alert('Failed to fetch balances.');
                });
            });
        });
    </script>
}