<table class="subscription-table mt-5">
    <thead>
        <tr>
            <th>Coprodutor</th>
            <th>Produtor</th>
            <th>Subscrição</th>
            <th>Valor a pagar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.CoProducerName</td>
                    <td>@item.ProducerName</td>
                    <td>@item.SubscriptionName</td>
                    <td>@item.Debt.ToString("C")</td>
                </tr>
        }
    </tbody>
</table>


<style>
    table {
        width: 100%;
    }

        table th, table td {
            width: 25%;
            text-align: left;
            padding: 8px;
        }
</style>