<table class="subscription-table mt-5" style="width: 100%;">
    <thead>
        <tr>
            <th>Coprodutor</th>
            <th>Produtor</th>
            <th>Subscrição</th>
            <th>Pagamentos Pendentes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CoProducerName</td>
                <td>@item.ProducerName</td>
                <td>@item.SubscriptionName</td>
                <td>@item.PendingPayment.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

        table th, table td {
            width: 20%;
            text-align: left;
            padding: 8px;
        }
</style>