
@{
    ViewBag.Title = "Pagamentos";
}

<link rel="stylesheet" href="~/css/subscriptionperiod.css" asp-append-version="true" />

<h2>Pagamentos</h2>

<div>
    <label for="paymentType">Seleciona tipos de consulta:</label>
    <select id="paymentType" name="paymentType">
        @foreach (var option in ViewBag.Options as List<SelectListItem>)
        {
            <option value="@option.Value">@option.Text</option>
        }
    </select>
    <button id="loadButton">Load</button>
</div>

<div id="dataContainer">
    <!-- Data will be loaded here via AJAX -->
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loadButton').click(function () {
                var selectedOption = $('#paymentType').val();
                $.post('@Url.Action("LoadData", "SubscriptionPayment")', { selectedOption: selectedOption }, function (data) {
                    $('#dataContainer').html(data);
                }).fail(function () {
                    alert('Failed to load data.');
                });
            });
        });
    </script>
}