
#calculateButton {
    background-color: #8B4513; 
    color: white; 
    font-weight: bold; 
    border: none;
    border-radius: 25px; 
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    #calculateButton:hover {
        background-color: #A0522D; 
        transform: scale(1.05); 
    }

/* Estilo para o contêiner de resultados */
#balancesContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para os títulos */
h2 {
    color: #8B4513; 
    font-weight: bold;
    margin-bottom: 20px;
}
