/* Estilo para a barra de navegação */
.navbar {
    background-color: #343a40; /* Cor de fundo da navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para a navbar */
    border-bottom-left-radius: 25px; /* Bordas arredondadas */
    border-bottom-right-radius: 25px; /* Bordas arredondadas */
}

/* Estilo para os links de navegação */
.navbar-nav .nav-link {
    background-color: #8B4513; 
    color: white; 
    font-weight: bold; 
    border-radius: 50px; 
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 150px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

    /* Estilo para os links de navegação ao passar o mouse */
    .navbar-nav .nav-link:hover {
        background-color: #A0522D; 
        color: white;
        transform: scale(1.05); 
    }

/* Estilo para o logo */
.navbar-brand img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.navbar-brand span {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.navbar-brand small {
    font-size: 0.8rem;
    color: white;
}

/* Estilo para o botão do menu responsivo */
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%288, 8, 8, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
