/* Estilo geral */
.container {
    margin-top: 3rem;
}

/* Título principal */
.title {
    text-align: center; /* Centraliza o título */
    margin-bottom: 2rem;
    color: #5d391a; /* Cor castanha */
}

/* Estilo para a tabela de ofertas */
.subscription-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem; /* Espaço abaixo da tabela */
    margin-top: 1rem; /* Espaço acima da tabela */
    border: 1px solid #5d391a; /* Borda castanha externa para a tabela */
}

    /* Estilo para células da tabela */
    .subscription-table th, .subscription-table td {
        padding: 12px 15px;
        text-align: left;
        border: 1px solid #5d391a; /* Borda castanha para as células */
    }

    /* Estilo para o cabeçalho da tabela */
    .subscription-table th {
        background-color: #5d391a; /* Fundo castanho */
        color: white; /* Cor do texto em branco */
        font-weight: bold;
    }

    /* Estilo para linhas alternadas da tabela */
    .subscription-table tr:nth-child(even) {
        background-color: #f9f9f9; /* Alternância de linhas */
    }

    /* Estilo para a célula da tabela ao passar o mouse */
    .subscription-table tr:hover {
        background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
    }

/* Estilo para o botão "Criar Nova Oferta" */
.btn-create {
    background-color: #92a83b; /* Verde da paleta */
    color: white;
    border: 1px solid #5d391a; /* Borda castanha */
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    margin-top: 2rem; /* Espaço acima do botão */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    .btn-create:hover {
        background-color: #5d391a; /* Castanho escuro */
        border-color: #92a83b; /* Verde da paleta */
        color: white;
    }

/* Ajuste no layout para a tabela em telas menores */
@media (max-width: 768px) {
    .subscription-table th, .subscription-table td {
        padding: 8px 10px; /* Menos padding para telas menores */
    }

    .subscription-table {
        margin-left: 10px;
        margin-right: 10px;
    }
}
