.form-group{
    margin-top: 30px;
}

.card-link {
    text-decoration: none;
    color: inherit; /* Mantém a cor do texto original */
}

/* Estilizar o card ao passar o rato por cima */
.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suavizar as transformações */
    cursor: pointer; /* Muda o cursor para formato de mão */
}

.hover-card:hover {
    transform: scale(1.05); /* Cresce o card em 5% */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destacar */
}

/* Container geral */
.container {
    margin-top: 3rem;
    margin-bottom: 100px;
}

/* Título principal */
.title {
    text-align: center;
    margin-bottom: 2rem;
    color: #5d391a;
}

/* Botão de adicionar produto */
.btn-create {
    background-color: #92a83b; /* Verde */
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-create:hover {
    background-color: #5d391a; /* Castanho escuro */
    color: white;
}

/* Layout de cartões */
.card-link {
    text-decoration: none;
    color: inherit;
}

/* Garantir que todos os cartões tenham a mesma altura e largura */
.card {
    margin-top: 20px;
    border: 1px solid #5d391a; /* Verde */
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    width: 100%; /* Garante que os cartões se ajustem ao grid */
    max-width: 300px; /* Define uma largura máxima para uniformidade */
    height: 450px; /* Define uma altura fixa para todos os cartões */
}

.card-top {
    flex: 0 0 auto; /* Mantém a proporção da área de imagem */
    height: 200px; /* Define uma altura fixa para a área da imagem */
    overflow: hidden; /* Esconde o excesso de imagem, caso ultrapasse */
}

.card-img-top {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: 100%; /* Faz com que a imagem preencha toda a área disponível */
    object-fit: cover; /* Faz com que a imagem se ajuste sem distorções */
}

.card-body {
    flex: 1 1 auto; /* Permite que o conteúdo cresça uniformemente */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo em coluna */
    justify-content: space-between; /* Espaça os elementos uniformemente */
}

.card-title {
    color: #5d391a; /* Castanho */
}

.card-text {
    color: #6c757d; /* Cinza claro */
    font-size: 0.9rem; /* Tamanho de texto ajustado */
    margin-bottom: 0.5rem; /* Espaçamento entre textos */
}

/* Layout do grid */
.row {
    gap: 1rem; /* Espaçamento uniforme entre cartões */
    justify-content: center; /* Centraliza os cartões no contêiner */
}
