html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f5f5f5; 
    margin-bottom: 60px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav {
    margin-left: auto;
}

    .navbar-nav .nav-link {
        font-size: 16px;
        padding-bottom: 5px;
    }
